html, body {
  overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  .header {
    background-image: url("../assets/images/banner.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    max-width: 100%;
    margin-bottom: 30px;
  }
  
  /* NAVBAR QUE VOY A UTILIZAR DESPUES PARA FORMALIZAR EL PROYECTO
  /* .navbar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
    color: black;
  } */ */


/* Estilos para las tarjetas de productos */
.card {
  margin-left: 30px;
  max-width: 80%;
  margin-right: 30px;
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
}
.card-body{
  background-color: blanchedalmond;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
  color: #555;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.card-image {
  width: 250px; 
  height: 250px;
  margin-bottom: 10px; 
}

.mb-4 {
  margin-bottom: 1.5rem;
}



@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}


#carrito {
  text-align: center;
  border: solid 2px rgb(104, 28, 28);
  padding: 20px;
  max-width: 40%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#carrito-lista {
  list-style: none;
  padding: 0;
}

#carrito-lista li {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#precio-total {
  font-weight: bold;
  margin-top: 15px;
}

#finalizar-compra,
#repetir-compra {
  margin-top: 15px;
}

#mensaje-compra {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #45a049; 
  transform: scale(1.05);
}

#promo-container {
  background-color: blanchedalmond;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: black;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.stock-counter {
  font-size: 16px;
  color: #ff5733; 
  margin-top: 5px;
  font-weight: bold; 
}